* {
  box-sizing: border-box;
}

body {
  background-color: rgb(214, 192, 151);
}

.one {
  border-top: 3px solid black;
}


.specialfont {
  text-decoration: underline;
  font-style: italic;
  font-weight: bolder;
}

.five-wide-column-center-aligned {
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  width: 33.33%;
  text-align: center;

}

.small {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 3px solid black;
}

.men {
  border: 4px solid black;
}

.translator {
  background-color: rgb(126, 26, 26);
}


.white-bg {
  background-color: white;
}

.JOTD-header {
  color: rgb(126, 26, 26);
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

select {
  width: 100%;
  height: 100%;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
}

.select {
  position: relative;
  display: block;
  line-height: 10;
  border-radius: 3em;
  padding-bottom: 30px;
}

.morejokes {
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  padding: 60px;
}

.bottomBorder {
  border-bottom: 3px solid black;
}

.font {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(126, 26, 26);
}

.nav-font {
  font-size: 23px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sub-font {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.jokefont {
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;

}


/* About Dad Jokes/About Us CSS*/

.about-header {
  text-align: center;
  padding: 40px;
  font-size: 60px;
  margin-top: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(126, 26, 26);

}

.about-hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 6px solid rgb(126, 26, 26);
}

.about-homebtn {
  width: 9%;
  height: 4%;
  margin: 12px;
  border-radius: 4px;
}

.about-content-container {
  display: block;
  padding: 30px;
  margin: 30px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  margin-bottom: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 120px;
  height: 120px;
  padding: 5px;
}

.names {
  font-size: 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(126, 26, 26);
}

.contact-text {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(126, 26, 26);
}

.contact-img img {
  height: auto;
  max-width: 50px;
  margin-bottom: 20px;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}