.header-bg{
  background-color: antiquewhite;

}
.specialfont{
  text-decoration: underline;
  font-style: italic;
  font-weight: bolder;
}

.JOTD-bg{
  background-color: rgb(203, 169, 235);
}
.bgtesting{
  background-color: rgb(119, 71, 71);
}